.categories-list{
    background-color: aqua;
}

.category{
    background-image:  url("../../../public/images/pexels-photo-3992656.jpg");
    text-align: center;
    height:120px;
    width: 120px;
    background-size: 100px;
}